<h2><i class="fa fa-address-card">登録情報編集</i></h2>
<%= form_for(@user) do |f| %>
	<div class='field'>
		<%= f.label '(姓)' %>
		<%= f.text_field :family_name, class: 'family_name' %>
	</div>
	<div class='field'>
		<%= f.label '(名)' %>
		<%= f.text_field :first_name, class: 'first_name' %>
	</div>
	<div class='field'>
		<%= f.label '(セイ)' %>
		<%= f.text_field :family_name_yomi, class: 'family_name_yomi' %>
	</div>
	<div class='field'>
		<%= f.label '(メイ)' %>
		<%= f.text_field :first_name_yomi, class: 'first_name_yomi' %>
	</div>
	<div class='field'>
		<%= f.label '郵便番号(ハイフンなし)' %>
		<%= f.text_field :postcode, class: 'postcode' %>
	</div>
	<div class='field'>
		<%= f.label '住所' %>
		<%= f.text_field :address, class: 'address' %>
	</div>
	<div class='field'>
		<%= f.label '電話番号(ハイフンなし)' %>
		<%= f.text_field :phone_number, class: 'phone_number' %>
	</div>

	<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to '退会する',orders_path,class: "btn-sm btn-success" %>

