<%# FIX: 商品合計変数の定義 本当は他の場所で定義したい %>
<% total_price = 0 %>
<%# FIX: 送料変数の定義 本当は他の場所で定義したい %>
<% shipping_price = 800 %>

<h2><i class="fa fa-table"></i>注文入力確認</h2>
<div class="row">
  <div class="col-md-8 col-xs-12">
    <div class="table-wrapper">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= cart_item.unit_price %></td>
              <td><%= cart_item.how_many %></td>
              <td><%= cart_item.subtotal_price %></td>
              <% total_price += cart_item.subtotal_price %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="table-wrapper">
      <table class="table table-bordered">
        <tr class="row">
          <th class="col-xs-3">送料</th>
          <td class="col-xs-9"><%= shipping_price %></td>
        </tr>
        <tr class="row">
          <th class="col-xs-3">商品合計</th>
          <td class="col-xs-9"><%= total_price %></td>
        </tr>
        <tr class="row">
          <th class="col-xs-3">請求金額</th>
          <td class="col-xs-9"><%= total_price + shipping_price %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<h3>支払方法</h3>
<span><%= @order.payment_method %></span>
<h3>お届け先</h3>
<span><%= @order.postcode %></span>
<span><%= @order.address %></span>
<span><%= @order.receiver %></span>

<div id="confirmation-btn-order">
  <%= form_with model: @order, local: true do |f| %>
    <%= f.hidden_field :payment_method %>
    <%= f.hidden_field :postcode, :value => @order.postcode %>
    <%= f.hidden_field :address, :value => @order.address %>
    <%= f.hidden_field :receiver, :value => @order.receiver %>
    <%= f.hidden_field :total_price, value: total_price %>
    <%= f.submit "購入を確定する",class:'btn btn-primary'%>
  <% end %>
</div>
