<h2>注文入力情報</h2>
<%= form_with model: @order, url: order_confirm_path, local: true do |f| %>

  <h3>支払方法</h3>
  <%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %>
  <%= f.label :payment_method_クレジットカード, 'クレジットカード' %>
  <%= f.radio_button :payment_method, :銀行振込 %>
  <%= f.label :payment_method_銀行振込, '銀行振込' %>

  <h3>お届け先</h3>
  <%= f.label :postcode, '郵便番号' %>
  <%= f.text_field :postcode %>
  <%= f.label :address, '住所' %>
  <%= f.text_field :address %>
  <%= f.label :receiver, '宛名' %>
  <%= f.text_field :receiver %>
  <%= f.submit "確認画面へ進む" %>
<% end %>
