<div class="row">
  <div class="col-xs-8 col-xs-offset-2" id="edit-shipping-address">
    <% if flash[:alert] %>
      <div>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= form_for(@shipping_address) do |f| %>
      <h2><i class="fa fa-truck"></i>配送先編集</h2>
      <div class="row row-form">
        <div class="col-xs-3">
          <%= f.label '郵便番号' %>
        </div>
        <div class="col-xs-9">
          <%= f.text_field :postcode, class: "form-control" %>
        </div>
      </div>
      <div class="row row-form">
        <div class="col-xs-3">
          <%= f.label '住所' %>
        </div>
        <div class="col-xs-9">
          <%= f.text_field :address , class: "form-control", size: "50" %>
        </div>
      </div>
      <div class="row row-form">
        <div class="col-xs-3">
          <%= f.label '住所宛名' %>
        </div>
        <div class="col-xs-9">
          <%= f.text_field :receiver , class: "form-control" %>
        </div>
      </div>
      <div class="f-right">
        <%= f.submit '編集する', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>