<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav class='nav navbar-nav navbar-left' >
          <span>LOGO</span>
      </nav>
      <nav>
        <ul class='nav navbaer-nav navbar-right'>
          <% if user_signed_in? %>

            <div class= 'name'>
                    ようこそ<%= "#{current_user.family_name} #{current_user.first_name}" %>!!
            </div>

            <li>
              <%= link_to "マイページ",user_path(current_user), class: "btn-sm btn-success" %>
            </li>
            <li>
              <%= link_to "商品一覧",items_path, class: "btn-sm btn-success" %>
            </li>
            <li>
              <%= link_to "カート", cart_items_path, class: "btn-sm btn-success" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn-sm btn-success" %>
            </li>
          <% else %>
            <li>
              <%= link_to "商品一覧",items_path, class: "btn-sm btn-success" %>
            </li>
            <li>
              <%#= link_to "新規登録", new_user_ragistration_path, class:"btn-sm btn-success" %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path ,class: "btn-sm btn-success" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
</header>
